.account-form_container {
  margin: 80px;
  border-radius: 10px;
  border-left: 10px solid #1677ff;
  border-top: 5px solid #1677ff;
  h4 {
    background-color: #1677ff;
    text-align: right;
    font-size: 25px;
    padding: 0px 20px;
  }
  > form {
    padding: 15px;
    .form_content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .staff_item .name {
    }
    .position_email,
    .phone_pw,
    .gender_confirmpw {
      display: flex;
      justify-content: space-between;
      .ant-form-item {
        flex-basis: 45%;
      }
    }
    .password {
      label {
        width: 100%;
        justify-content: space-between;
        &::before {
          left: 65px;
        }
        &::after {
          position: absolute;
          left: 68px;
        }
        a {
          z-index: 20;
        }
      }
    }
    .buttonGroup {
      display: flex;
      justify-content: end;
      margin-bottom: 10px;
      gap: 20px;
      button {
        font-size: 18px;
        height: auto;
      }
      .cancelBtn {
        button {
          // border: 1px solid #7d7d7d;
          color: #7d7d7d;
          &:hover {
            color: white !important;
            background-color: #1677ff;
          }
        }
      }
      .submitBtn {
        button {
          // border: 1px solid #1677FF;
          color: #1677ff;
          &:hover {
            color: white !important;
            background-color: #1677ff;
          }
        }
      }
      .checkBtn {
        span {
          font-style: italic;
          color: #1677ff;
          font-weight: bolder;
          font-style: italic;
          text-decoration: underline;
        }
      }
    }
  }
  .picture {
    position: absolute;
    bottom: -30px;
    left: 0px;
    img {
      width: 200px;
      height: 200px;
    }
  }
}

.ant-form-item-row {
  display: flex;
  flex-direction: column;
  .ant-form-item-label {
    text-align: left;
    label {
      font-weight: 700;
    }
  }
}
.ant-form-horizontal .ant-form-item-control {
  flex: 1;
}
.ant-form-item-required {
  &::before {
    right: 1px;
    top: 3px;
    font-size: 11px !important;
    position: absolute;
  }
  &::after {
    right: -8px;
  }
}
