.account-form_container {
  position: relative;
  margin: 0px 100px;
  border-radius: 10px;
  border-left: 30px solid #1677ff;

  h4 {
    background-color: #1677ff;  
    text-align: right;
    font-size: 22px;
    color: white;
    padding: 9px 40px;
    border-radius: 0px 10px 10px 0px;
  }

  >form {
    padding: 15px 30px;

    .form_content {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .position_email,
    .phone_pw,
    .name_permiss {
      display: flex;
      justify-content: space-between;

      .ant-form-item {
        flex-basis: 45%;
      }
    }

    .gender_confirmpw {
      .ant-select-selector {
        padding: 5px 10px
      }
    }


    .name_permiss {
      .ant-select-selector {
        // border: 1px solid #1677ff;
        padding: 3px 10px;
      }
      
    }

    .password {
      label {
        width: 100%;
        justify-content: space-between;

        &::before {
          left: 65px;
        }

        &::after {
          position: absolute;
          left: 68px;
        }

        a {
          z-index: 20;
        }
      }
    }

    .buttonGroup {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 10px;

      .ant-form-item {
        width: 100%;
        margin-bottom: 15px;
      }

      button {
        font-size: 18px;
        height: auto;
      }

      .cancelBtn {
        button {
          // border: 1px solid #7d7d7d;
          color: #7d7d7d;

          &:hover {
            color: white !important;
            background-color: #1677ff;
          }
        }
      }

      .submitBtn {
        button {
          // border: 1px solid #1677FF;
          color: #1677ff;

          &:hover {
            color: white !important;
            background-color: #1677ff;
          }
        }
      }

      .checkBtn {
        span {
          font-style: italic;
          color: #1677ff;
          font-weight: bolder;
          font-style: italic;
          text-decoration: underline;
        }
      }
    }
  }

  .picture {
    position: absolute;
    left: -100px;
    bottom: -60px;

    img {
      width: 200px;
      height: 200px;
    }
  }
}

.ant-form-item-row {
  display: flex;
  flex-direction: column;

  .ant-form-item-label {
    text-align: left;

    label {
      font-weight: 700;
    }
  }
}

.ant-form-horizontal .ant-form-item-control {
  flex: 1;
}

.ant-form-item-required {
  &::before {
    right: 1px;
    top: 3px;
    font-size: 11px !important;
    position: absolute;
  }

  &::after {
    right: -8px;
  }
}