.cinput {
    color: #555555;
    border-radius: 5px;
    border: 1px solid #1677FF;
    outline: none;
    background: none;
    padding: 12px 5px;
}

.cinput:focus {
    outline: 1px solid #1677FF;
}