.cinput_area_wrapper {
    display: block;
}

.cinput_area_wrapper label {
    color: #000;
    display: block;
    font-weight: 700;
}

.cinput_area_wrapper textarea {
    resize: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid #1677FF;
    padding: 9px;
    width: 100%;
}