.searchForm {
  .search-container {
    justify-content: space-between;
    display: flex;
    gap: 15px;

    svg {
      color: #1677ff;
    }
  }
}



.category_infor_container {
  .table_content {
    .action_cover {
      margin:  0px -85px 0px 55px
    }
  }

  .searchForm {
    .search-container {
      .searchForm-input {
        flex-basis: 40%;
      }

      .searchForm-date {
        flex-basis: 35%;

        .ant-picker {
          border: 1px solid #1677ff;

        }

        .ant-picker {
          width: 100%;
        }
      }

      .add-btn {
        button {
          color: #1677ff;
          background-color: white;
          border: 1px solid #1677ff;

          &:hover {
            color: white;
            background-color: #1677ff;
          }
        }
      }
    }
  }


}